body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    border-radius: 4px;
    border: none;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
}

.header-container, .hero-container
{
    background-color: #1f2937;
}

.hero-text-container > h1, .header-container > h2, button
{
    color: #f9faf8;
}

/*header*/

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-container > h2 {
    flex: 1;
    display: flex;
    justify-self: flex-start;
    margin-left: 10vw;
}

.header-links, .hero-image-container, .hero-text-container {
    color: #e5e7eb;
}

.header-links {
    margin-right: 10vw;
    justify-self: flex-end;
    display: flex;
    gap: 20px;
    align-content: center;
}

/* hero-container section */

.hero-container {
    display:flex;
    justify-content: center;
    padding: 75px;
    gap: 80px;
}

.hero-container > * > button {
    padding: 6px 30px;
    background-color: #3882f6;
    margin-top: 4px;
}

.hero-text-container {
    max-height: 200px;
    max-width: 400px;
}

.hero-image-container {
    display: flex;
    background-color: gray;
    max-width: 400px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.infobar-container {
    display:flex;
    justify-content: center;
    padding: 10px 0px;
}

/* Info-container section */

.info-container {
    display:flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 60px;
}

.info-img-container {
    max-width:120px;
    font-weight: lighter;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info-img-container > p
{
    color:#1f2937;
}

.info-img {
    border: 4px solid #3882f6;
    border-radius: 12px;
    width:100px;
    height:100px;
}


/* Quote section */
.quote-section {
    background-color:#e5e7eb;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    max-width: 600px;
    padding: 60px 0px;
    display:flex;
    flex-direction: column;
}

.big-quote {
    font-style:italic;
    font-weight:lighter;
    font-size: 24px;
    color:#1f2937;
}

.thor-quote {
    justify-self:flex-end;
    align-self: flex-end;
}

/*call to action*/

.callsection-container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px;
}

.calltoaction-container {
    background-color: #3882f6;
    display:flex;
    color:#e5e7eb;
    padding: 40px 100px;
    border-radius: 10px;
}

.calltoaction-button {
    background: none;
    display:flex;
    align-items:flex-end;
}

.calltoaction-button > button {
    background: none;
    border: 3px solid #e5e7eb;
    width: 110px;
    height: 30px;
    padding: 0px;
}

.calltoaction-text {
    margin-right: 40px;
}


.calltoaction-text> h4, p {
    margin: 0px;
}

/*footer*/

.footer-container
{
    display:flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 20px;
    color:#f9faf8;
}