body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    border-radius: 4px;
    border: none;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
}

.header-container, .hero-container
{
    background-color: #1f2937;
}



.hero-text-container > h1, .header-container > div > h2, button
{
    color: #f9faf8;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 400px;
}

.header-links, .hero-image-container, .hero-text-container {
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 20px;
    align-content: center;
}

.hero-container {
    display:flex;
    justify-content: center;
    padding: 75px;
    gap: 30px;
}

.hero-container > * > button {
    padding: 6px 30px;
    background-color: #3882f6;
}

.hero-text-container {
    max-height: 200px;
    max-width: 400px;
}

.hero-image-container {
    display: flex;
    background-color: gray;
    max-width: 400px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.infobar-container {
    display:flex;
    justify-content: center;
    padding: 10px 0px;
}

/* Info-container section */

.info-container {
    display:flex;
    justify-content: center;
    gap: 40px;
}

.info-img-container {
    max-width:120px;
    font-weight: lighter;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.info-img-container > p
{
    color:#1f2937;
}

.info-img {
    border: 4px solid #3882f6;
    border-radius: 12px;
    width:100px;
    height:100px;
}